.rotate{
  animation: rotate 30s infinite ease-in-out;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg) ;
  }
  
}

.background-js{
  background-image: url("/img/fondo-js.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}