.background {
  background-image: url('/img/fondo-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.test {
  text-transform: uppercase;
  color: white;
  text-align: center;
  animation: neonGlow 4s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes neonGlow {
  0% {
    @apply text-titlecolor;
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3),
      0 0 8px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(38, 128, 163, 0.664), 0 0 30px rgba(46, 184, 184, 0.8),
      0 0 40px rgba(21, 116, 116, 0.8), 0 0 50px rgba(13, 59, 102, 0.5),
      0 0 80px rgba(197, 255, 255, 0.781);
  }
}

.bg{
 color: #37969c
}