body{
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

.animation {
  animation: open-menu 500ms ease-in-out;
  visibility: visible;

}

@keyframes open-menu {
  0% {
    transform: translateX(100%);
    visibility: visible;


  }
  100% {
    transform: translateX(0);
    visibility: visible;

  }
}

.close-animation {
  animation: close-menu 500ms ease-in-out;
  visibility: hidden;

}

@keyframes close-menu {
  0% {
    transform: translateX(0);
    opacity: 100%;
    visibility: visible;

  }
  100% {
    transform: translateX(100%);
  }
}
